@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$body-bg-dark: #000000;
$font-family-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.15rem;
$h1-font-size: $font-size-base * 1.65;
$h2-font-size: $font-size-base * 1.55;
$h3-font-size: $font-size-base * 1.45;
$h4-font-size: $font-size-base * 1.35;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

@import '../../node_modules/bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5 {
  font-weight: 700;
}
h2, h3, h4, h5 {
  padding-top: 20px;
  padding-bottom: 10px;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}
a.header-icon:link, a.header-icon:visited, a.header-icon:hover {
  text-decoration: none;
  white-space: nowrap;
  padding-right: 5px;
}

.simple-icon {
  white-space: nowrap;
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
  color: var(--bs-body-color);
}
.simple-icon > svg, .header-icon > svg {
  height: $font-size-base;
  width: $font-size-base;
  fill: var(--bs-body-color);
}
.header-icon > svg {
  fill: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
