---
layout: layouts/base.njk
---

<div class="container my-5 g-5 g-md-1">
  <div class="row">
    <div class="col-md-4">
      
      <div class="mb-3" style="max-width:250px;">
        <img src="/assets/images/profile.jpeg" class="rounded img-fluid" />
      </div>
      <h1>Jennifer Adorno, Ph.D.</h1>
      <a href="https://pronouns.org/what-and-why" rel="nofollow noopener noreferrer">she/her/hers</a>
      <p>Research Scientist <br /> Systems Architect</p>

      {% for entry in header.links %}
      <a class="header-icon" href="{{ entry.url }}" rel="nofollow noopener noreferrer">
        <svg><use href="/assets/icons.svg#{{ entry.icon }}" aria-hidden="true"/></svg>
        <span class="label">{{ entry.name }}</span>
      </a>
      {% endfor %}

      <hr />
      {% include 'layouts/navigation.njk' %}
      <hr />

    </div>
    <div class="col-md-8 my-md-5">
      {{ content | safe }}
    </div>
  </div>
</div>
